configuration {
	modi: "drun,run,window,ssh,keys";
	width: 33;
	lines: 10;
	columns: 1;
	font: "JetBrains Mono 24";
	bw: 0;
	padding: 0;
	show-icons: true;
	matching: "fuzzy";
	line-margin: 10;
	line-padding: 10;
	separator-style: "none";
	hide-scrollbar: true;
	theme: ".local/share/rofi/themes/nord.rasi";
	display-window: "";
	display-run: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "";
}
